body {
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: rgb(35, 58, 132);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 430px;
    margin: 0;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: underline;
}

.menu-banner {
    background-color: #cce1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    flex-wrap: wrap;
    
}

.banner-texto {
    flex: 1;
    max-width: 500px;
    margin-right: 500px;
}

.banner-texto h1 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #1B3B56;
}


.banner-texto p {
    font-size: 16px;
    color: rgb black;

}

.botao {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background-color: rgb(35, 58, 132);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
}

.botao:hover {
    background-color: rgb (5, 18, 60);
}

.banner img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}


.quem-somos {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 60px 40px;
    gap: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.quem-texto {
    flex: 1;
    max-width: 500px;
}

.quem-texto h2 {
    background-color: rgb(25, 44, 106);
    color: white;
    padding: 10px;
    font-size: 40px;
    display:inline;
    border-radius: 5px;
}

.quem-texto  {
    font-size: 20px;
    color: #333;
    line-height: 1.6;
}

.hotel-img img {
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
}


footer {
    background-color: rgb(5, 18, 60);
    color: white;
    padding: 40px 60px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-content p {
    font-size: 14px;
    line-height: 1.6;
}
